.susisiekime {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px;
}

.button div {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 200px;
}
