.logo {
  font-family: 'Pacifico', cursive;
  font-size: 3.5rem;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.kalbos {
  font-family: 'Pacifico', cursive;
  font-size: 1.875rem;
  padding-top: 7.6875rem;
}

.lt {
  color: #f85c36;
}
